body{
    text-align: center;
    background-color: gray;
}


canvas {
    border: 1px solid black;
}

/* body{
    background-color: greenyellow;
}

#screen{
    position: relative;
    border: 2px solid black;
    margin: auto;
    background-color: #9bbc0f;
    width: 320px;
    height: 300px;

}

#sprite{
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
} */